.fog {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.fog-f0000 {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.fog-f0001 {
    width: 32px;
    height: 32px;
    background-position: -32px 0;
}

.fog-f0010 {
    width: 32px;
    height: 32px;
    background-position: -64px 0;
}

.fog-f0011 {
    width: 32px;
    height: 32px;
    background-position: -96px 0;
}

.fog-f0100 {
    width: 32px;
    height: 32px;
    background-position: 0 -32px;
}

.fog-f0101 {
    width: 32px;
    height: 32px;
    background-position: -32px -32px;
}

.fog-f0110 {
    width: 32px;
    height: 32px;
    background-position: -64px -32px;
}

.fog-f0111 {
    width: 32px;
    height: 32px;
    background-position: -96px -32px;
}

.fog-f1000 {
    width: 32px;
    height: 32px;
    background-position: 0 -64px;
}

.fog-f1001 {
    width: 32px;
    height: 32px;
    background-position: -32px -64px;
}

.fog-f1010 {
    width: 32px;
    height: 32px;
    background-position: -64px -64px;
}

.fog-f1011 {
    width: 32px;
    height: 32px;
    background-position: -96px -64px;
}

.fog-f1100 {
    width: 32px;
    height: 32px;
    background-position: 0 -96px;
}

.fog-f1101 {
    width: 32px;
    height: 32px;
    background-position: -32px -96px;
}

.fog-f1110 {
    width: 32px;
    height: 32px;
    background-position: -64px -96px;
}

.fog-f1111 {
    width: 32px;
    height: 32px;
    background-position: -96px -96px;
}
