.star {
    background-image: url('/images/stars.png');
    background-repeat: no-repeat;
    display: block;
}

.star-blackhole {
    width: 128px;
    height: 128px;
    background-position: -5px -5px;
}

.star-blackhole_old {
    width: 128px;
    height: 128px;
    background-position: -143px -5px;
}

.star-nebula {
    width: 128px;
    height: 129px;
    background-position: -281px -5px;
}

.star-nebula1 {
    width: 128px;
    height: 129px;
    background-position: -419px -5px;
}

.star-nebula10 {
    width: 128px;
    height: 128px;
    background-position: -557px -5px;
}

.star-nebula11 {
    width: 128px;
    height: 128px;
    background-position: -695px -5px;
}

.star-nebula117 {
    width: 128px;
    height: 128px;
    background-position: -833px -5px;
}

.star-nebula119 {
    width: 128px;
    height: 128px;
    background-position: -971px -5px;
}

.star-nebula12 {
    width: 128px;
    height: 128px;
    background-position: -5px -143px;
}

.star-nebula13 {
    width: 128px;
    height: 128px;
    background-position: -143px -143px;
}

.star-nebula14 {
    width: 128px;
    height: 128px;
    background-position: -557px -143px;
}

.star-nebula16 {
    width: 128px;
    height: 128px;
    background-position: -695px -143px;
}

.star-nebula18 {
    width: 128px;
    height: 128px;
    background-position: -833px -143px;
}

.star-nebula18a {
    width: 128px;
    height: 128px;
    background-position: -971px -143px;
}

.star-nebula19 {
    width: 128px;
    height: 128px;
    background-position: -5px -281px;
}

.star-nebula19b {
    width: 128px;
    height: 128px;
    background-position: -143px -281px;
}

.star-nebula2 {
    width: 128px;
    height: 128px;
    background-position: -281px -281px;
}

.star-nebula3 {
    width: 128px;
    height: 128px;
    background-position: -419px -281px;
}

.star-nebula4 {
    width: 128px;
    height: 128px;
    background-position: -557px -281px;
}

.star-nebula5 {
    width: 128px;
    height: 128px;
    background-position: -695px -281px;
}

.star-nebula6 {
    width: 128px;
    height: 128px;
    background-position: -833px -281px;
}

.star-nebula7 {
    width: 128px;
    height: 128px;
    background-position: -971px -281px;
}

.star-nebula8 {
    width: 128px;
    height: 128px;
    background-position: -5px -419px;
}

.star-nebula9 {
    width: 128px;
    height: 128px;
    background-position: -143px -419px;
}

.star-nova {
    width: 128px;
    height: 128px;
    background-position: -281px -419px;
}

.star-star10_1 {
    width: 128px;
    height: 128px;
    background-position: -419px -419px;
}

.star-star10_2 {
    width: 128px;
    height: 128px;
    background-position: -557px -419px;
}

.star-star10_3 {
    width: 128px;
    height: 128px;
    background-position: -695px -419px;
}

.star-star11_2 {
    width: 128px;
    height: 128px;
    background-position: -833px -419px;
}

.star-star11_3 {
    width: 128px;
    height: 128px;
    background-position: -971px -419px;
}

.star-star11_4 {
    width: 128px;
    height: 128px;
    background-position: -5px -557px;
}

.star-star12_1 {
    width: 128px;
    height: 128px;
    background-position: -143px -557px;
}

.star-star12_2 {
    width: 128px;
    height: 128px;
    background-position: -281px -557px;
}

.star-star12_4 {
    width: 128px;
    height: 128px;
    background-position: -419px -557px;
}

.star-star13_2 {
    width: 128px;
    height: 128px;
    background-position: -557px -557px;
}

.star-star13_3 {
    width: 128px;
    height: 128px;
    background-position: -695px -557px;
}

.star-star14_2 {
    width: 128px;
    height: 128px;
    background-position: -833px -557px;
}

.star-star14_3 {
    width: 128px;
    height: 128px;
    background-position: -971px -557px;
}

.star-star14_4 {
    width: 128px;
    height: 128px;
    background-position: -5px -695px;
}

.star-star15_2 {
    width: 128px;
    height: 128px;
    background-position: -143px -695px;
}

.star-star15_3 {
    width: 128px;
    height: 128px;
    background-position: -281px -695px;
}

.star-star15_4 {
    width: 128px;
    height: 128px;
    background-position: -419px -695px;
}

.star-star16_2 {
    width: 128px;
    height: 128px;
    background-position: -557px -695px;
}

.star-star16_3 {
    width: 128px;
    height: 128px;
    background-position: -695px -695px;
}

.star-star17_2 {
    width: 128px;
    height: 128px;
    background-position: -833px -695px;
}

.star-star17_3 {
    width: 128px;
    height: 128px;
    background-position: -971px -695px;
}

.star-star17_4 {
    width: 128px;
    height: 128px;
    background-position: -5px -833px;
}

.star-star18_1 {
    width: 128px;
    height: 128px;
    background-position: -143px -833px;
}

.star-star18_2 {
    width: 128px;
    height: 128px;
    background-position: -281px -833px;
}

.star-star18_3 {
    width: 128px;
    height: 128px;
    background-position: -419px -833px;
}

.star-star18_4 {
    width: 128px;
    height: 128px;
    background-position: -557px -833px;
}

.star-star19_3 {
    width: 128px;
    height: 128px;
    background-position: -695px -833px;
}

.star-star19_4 {
    width: 128px;
    height: 128px;
    background-position: -833px -833px;
}

.star-star19_5 {
    width: 128px;
    height: 128px;
    background-position: -971px -833px;
}

.star-star1_2 {
    width: 128px;
    height: 128px;
    background-position: -5px -971px;
}

.star-star1_3 {
    width: 128px;
    height: 128px;
    background-position: -143px -971px;
}

.star-star2_0 {
    width: 128px;
    height: 128px;
    background-position: -281px -971px;
}

.star-star2_1 {
    width: 128px;
    height: 128px;
    background-position: -419px -971px;
}

.star-star3_1 {
    width: 128px;
    height: 128px;
    background-position: -557px -971px;
}

.star-star4_0 {
    width: 128px;
    height: 128px;
    background-position: -695px -971px;
}

.star-star4_1 {
    width: 128px;
    height: 128px;
    background-position: -833px -971px;
}

.star-star5_1 {
    width: 128px;
    height: 128px;
    background-position: -971px -971px;
}

.star-star5_2 {
    width: 128px;
    height: 128px;
    background-position: -1109px -5px;
}

.star-star5_3 {
    width: 128px;
    height: 128px;
    background-position: -1109px -143px;
}

.star-star5_4 {
    width: 128px;
    height: 128px;
    background-position: -1109px -281px;
}

.star-star6_1 {
    width: 128px;
    height: 128px;
    background-position: -1109px -419px;
}

.star-star6_2 {
    width: 128px;
    height: 128px;
    background-position: -1109px -557px;
}

.star-star6_3 {
    width: 128px;
    height: 128px;
    background-position: -1109px -695px;
}

.star-star7_2 {
    width: 128px;
    height: 128px;
    background-position: -1109px -833px;
}

.star-star7_3 {
    width: 128px;
    height: 128px;
    background-position: -1109px -971px;
}

.star-star8_1 {
    width: 128px;
    height: 128px;
    background-position: -5px -1109px;
}

.star-star8_2 {
    width: 128px;
    height: 128px;
    background-position: -143px -1109px;
}

.star-star8_3 {
    width: 128px;
    height: 128px;
    background-position: -281px -1109px;
}

.star-star8_4 {
    width: 128px;
    height: 128px;
    background-position: -419px -1109px;
}

.star-star9_1 {
    width: 128px;
    height: 128px;
    background-position: -557px -1109px;
}

.star-star9_2 {
    width: 128px;
    height: 128px;
    background-position: -695px -1109px;
}

.star-star9_3 {
    width: 128px;
    height: 128px;
    background-position: -833px -1109px;
}

.star-supernova {
    width: 128px;
    height: 128px;
    background-position: -971px -1109px;
}
