body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #00B7FF;
}

.system-button-out {
    width: 195px;
    height: 95px;
    border: thin solid;
    margin-left: 1px;
}

.system-button-out div {
    height: 100%;
}