<div class="bookmarkspanel">
    <table>
        <tr><td><button class="button widgets book_unknown" uncheckable></button></td></tr>
        <tr><td><button class="button widgets book_planet" uib-uncheckable="uncheckable"></button></td></tr>
        <tr><td><button class="button widgets book_star" uib-uncheckable="uncheckable"></button></td></tr>
        <tr><td><button class="button widgets book_planetimp" uib-uncheckable="uncheckable"></button></td></tr>
        <tr><td><button class="button widgets book_starimp"></button></td></tr>
        <tr><td><button class="button widgets book_war"></button></td></tr>
        <tr><td><button class="button widgets book_hub"></button></td></tr>
        <tr><td><button class="button widgets book_res"></button></td></tr>
        <tr><td><button class="button widgets book_dig"></button></td></tr>
        <tr><td><button class="button widgets book_col"></button></td></tr>
    </table>
</div>
<div class="centerview">
    <div sector-canvas class="no_selection" style="position: relative; width: 651px; height: 651px">
    </div>
</div>
<div class="rightview">
    <b>Сектора</b><br/>
    <a ng-repeat="s in tmpsectors" ng-click="selectSector($index)" style="padding: 0 2px 0 2px">{{$index + 1}}</a>
    <label>Show tunnels <input type="checkbox" ng-model="showTunnels"/></label>
    <br/>
    <b>Под курсором:</b>
    <div class="system-button-out">
        <system-button system="selectedStar">
        </system-button>
    </div>
    <b>Были выбраны ранее:</b>
    <div ng-repeat="system in selectedSystems" class="system-button-out">
        <system-button system="system">
        </system-button>
    </div>
</div>
