<div style="width:651px; height: 651px; float: left">
    <div sector-canvas style="position: relative; width: 651px; height: 651px">
    </div>
</div>
<div style="width: 200px; height: 651px; background-color: black; color: white; float: left">
    <b>Сектора</b><br/>
    <a ng-repeat="s in tmpsectors" ng-click="selectSector($index)" style="padding: 0 2px 0 2px">{{$index + 1}}</a>
    <label>Show tunnels <input type="checkbox" ng-model="showTunnels"/></label>
    <br/>
    <b>Под курсором:</b>
    <div class="system-button-out">
        <div ng-mouseover="highlightedStar.loc = selectedStar.loc" ng-mouseleave="highlightedStar.loc = undefined" ng-click="openStar(selectedStar.loc)">
            <span style="float: left;" class="star-small star-small-{{selectedStar.type}}"></span>
            Система: {{selectedStar.loc}} <br/>
            Тип: {{selectedStar.type | systype}} <br/>
            Масса: {{selectedStar.mass}} <br/>
            Температура: {{selectedStar.temp}}
        </div>
    </div>
    <b>Были выбраны ранее:</b>
    <div ng-repeat="system in selectedSystems" class="system-button-out">
        <system-button>
        </system-button>
    </div>
</div>
