<div class="centerview">
    <div ng-click="back()" style="float: left; background-color: red; width: 11px; height: 651px">
        <br/><br/><br/>T<br/>O<br/><br/>S<br/>E<br/>C<br/>T<br/>O<br/>R
    </div>
    <canvas style="float: left" width="640px" height="651px" system-canvas></canvas>
</div>
<div class="rightview">
    <div ng-if='righttab == "systems"'>
        <b><u>Системы</u> / <a ng-click="toggleTab('planet')">Планета</a></b>
        <br/>
        <b>Были выбраны ранее:</b>
        <div ng-repeat="system in selectedSystems" class="system-button-out">
            <system-button system="system">
            </system-button>
        </div>
    </div>
    <div ng-if='righttab == "planet"'>
        <b><a ng-click="toggleTab('systems')">Системы</a> / <u>Планета</u></b>
        <br/>
        <b>Моя крутая планета</b>
        <div style="background-image: url('/images/planets/starsky.png'); width: 100%; height: 100px">
            <div style="height: 40px"></div>

        </div>
        <div style="background-image: url('/images/planets/{{parsedPlanet.atm}}.png'); width: 100%; height: 185px; position: relative">
            <table class="smallbuildings">
                <tr>
                    <td style="width: 56px">
                        <table class="full">
                            <tr style="height: 56px"><td>
                                <button ng-if="parsedPlanet.secret.buildings" class="building buttonlink building12_small">
                                    <b>{{parsedPlanet.cities}}</b>
                                </button>
                            </td></tr>
                            <tr>
                                <td style="alignment: center">
                                    <button ng-if="parsedPlanet.head" class="building buttonlink building13_small">
                                        <div class="widgets unique_16"></div>
                                    </button>
                                </td></tr>
                        </table>
                    </td>
                    <td>
                        <table class="full">
                            <tr ng-repeat="row in parsedPlanet.buildings">
                                <td ng-repeat="building in row">
                                    <button ng-if="building.type && building.count != 0" class="building buttonlink building{{building.type}}_small">
                                        <div ng-if="building.count == -1" class="widgets unique_16"></div>
                                        <b ng-if="building.count != -1" >{{building.count}}</b>
                                    </button>
                                    <div ng-if="building.count == 0" class="building buttonlink disabled building{{building.type}}_small">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <span class="respanel" style="bottom: 16px">
                <span class="ore"><span class="widgets temp"></span>{{planet.data.temp}}</span>
                <span class="ore"><span class="widgets mass"></span>{{planet.data.mass}}</span>
            </span>
            <span class="respanel">
                <span ng-repeat="r in ['carbon', 'silicon', 'ore', 'bean', 'radiation']" ng-if="planet.data[r]" class="{{r}}">
                    <span class="widgets res{{r}}"></span>{{planet.data[r]}}
                </span>
            </span>
        </div>
        <div style="float: left; position: relative" ng-if="parsedPlanet.alliance == 1">
            <table>
                <tr>
                    <td><span class="widgets crime" style="display: inline-block"></span>45%</td>
                </tr>
                <tr ng-repeat="r in ['carbon', 'silicon', 'ore', 'bean', 'science', 'radiation']">
                    <td class="{{r}}">
                        <span class="widgets res{{r}}" style="display: inline-block"></span>+175
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Население:</td>
                </tr>
                <tr>
                    <td><b>12356(+0.7%)</b></td>
                </tr>
            </table>
        </div>
        <div style="float: left; position: relative" ng-if="parsedPlanet.alliance == 1">
            <table>
                <tr>
                    <td><button class="widgets pl_build"></button></td>
                    <td><button class="widgets pl_produce"></button></td>
                    <td><button class="widgets pl_train"></button></td>
                </tr>
                <tr>
                    <td>
                        <span class="building buttonlink building1_small" style="display: inline-block; position: relative">
                            <b>5</b>
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <span class="building buttonlink building7_small" style="display: inline-block; position: relative">
                            <b>~17</b>
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
