<div class="centerview">
    <div ng-click="back()" style="float: left; background-color: red; width: 11px; height: 651px">
        <br/><br/><br/>T<br/>O<br/><br/>S<br/>E<br/>C<br/>T<br/>O<br/>R
    </div>
    <canvas style="float: left" class="no_selection" width="640px" height="651px" system-canvas></canvas>
</div>
<div class="rightview">
    <div ng-if='righttab == "systems"'>
        <b><u uib-tooltip="Hello!">Системы</u> / <a ng-click="toggleTab('planet')" uib-tooltip="Hello!">Планета</a></b>
        <br/>
        <b>Были выбраны ранее:</b>
        <div ng-repeat="system in selectedSystems" class="system-button-out">
            <system-button system="system">
            </system-button>
        </div>
    </div>
    <div ng-if='righttab == "planet"'>
        <b><a ng-click="toggleTab('systems')" uib-tooltip="Hello!">Системы</a> / <u uib-tooltip="Hello!">Планета</u></b>
        <br/>
        <input ng-model="dev.planetpath" type="text" style="color: black"
               uib-tooltip="Укажи путь до любой своей планеты, и кликни по любой планете на экране"
               tooltip-placement="bottom">
        {{dev.planetpath}}
        <div style="background-image: url('/images/planets/starsky.png'); width: 100%; height: 100px">
            <div style="height: 40px"></div>

        </div>
        <div style="background-image: url('/images/planets/{{parsedPlanet.atm}}.png'); width: 100%; height: 185px; position: relative">
            <table class="smallbuildings">
                <tr>
                    <td style="width: 56px">
                        <table class="full">
                            <tr style="height: 56px"><td>
                                <button ng-if="parsedPlanet.parsedBuildings" class="building buttonlink building12_small">
                                    <b>{{parsedPlanet.cities}}</b>
                                </button>
                            </td></tr>
                            <tr>
                                <td style="alignment: center">
                                    <button ng-if="parsedPlanet.head" class="building buttonlink building13_small">
                                        <div class="widgets unique_16"></div>
                                    </button>
                                </td></tr>
                        </table>
                    </td>
                    <td>
                        <table class="full">
                            <tr ng-repeat="row in parsedPlanet.parsedBuildings">
                                <td ng-repeat="building in row">
                                    <button ng-if="building.typeid && building.cnt != 0" class="building buttonlink building{{building.typeid}}_small" uib-tooltip={{building.name}}>
                                        <div ng-if="building.cnt == -1" class="widgets unique_16"></div>
                                        <b ng-if="building.cnt != -1" >{{building.cnt}}</b>
                                    </button>
                                    <div ng-if="building.cnt == 0" class="building buttonlink disabled building{{building.typeid}}_small">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <span class="respanel" style="bottom: 16px">
                <span class="ore"><span class="widgets temp"></span>42</span>
                <span class="ore"><span class="widgets mass"></span>12</span>
            </span>
            <span class="respanel">
                <span ng-repeat="r in ['carbon', 'silicon', 'ore', 'bean', 'radiation']" class="{{r}}">
                    <span class="widgets res{{r}}"></span>44
                </span>
            </span>
        </div>
        <br/>
        <div style="float: left; position: relative" ng-if="parsedPlanet.own == 1">
            <table>
                <tr>
                    <td><span class="widgets crime" style="display: inline-block"></span>{{parsedPlanet.crime}}%</td>
                </tr>
                <tr ng-repeat="r in ['carbon', 'silicon', 'ore', 'bean', 'science', 'radiation']">
                    <td class="{{r}}">
                        <span class="widgets res{{r}}" style="display: inline-block"></span>+175
                    </td>
                </tr>
                <tr>
                    <td class="human">
                        <span class="widgets reshuman" style="display: inline-block"></span>{{parsedPlanet.pop|bignumsshortener}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 15px">(+{{parsedPlanet.pop_rate}}%)</td>
                </tr>
            </table>
        </div>
        <div style="float: right; position: relative" ng-if="parsedPlanet.own == 1">
            <table>
                <tr>
                    <td>{{parsedPlanet.const_rate}}</td>
                    <td colspan="2">{{parsedPlanet.prod_rate}}</td>
                </tr>
                <tr>
                    <td><button class="widgets pl_build"></button></td>
                    <td><button class="widgets pl_produce"></button></td>
                    <td><button class="widgets pl_train"></button></td>
                </tr>
                <tr>
                    <td>
                        <span class="building buttonlink building1_small" style="display: inline-block; position: relative">
                            <b>5</b>
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <span class="building buttonlink building7_small" style="display: inline-block; position: relative">
                            <b>~17</b>
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
