body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

a {
  color: #00B7FF;
}

.halfstar {
    z-index: -1; position: absolute; bottom: 0; right: 0; width: 74px !important; height: 74px !important;
}

.system-button-out {
    width: 98%;
    height: 95px;
    border: thin solid;
    margin-left: 1px;
    position: relative;
    z-index: 2;
}

.system-button-out div {
    height: 100%;
}

table.smallbuildings {
    padding-top: 38px;
    width: 100%;
    height: 100px;
    border-collapse: unset;
}

table.full {
    width: 100%;
    height: 100%;
}

.planetview {
    width: 215px;
    height: 651px;
    float: left;
}

.bookmarkspanel {
    width: 30px;
    height: 651px;
    float: left;
}

.globalview {
    width: 870px;
    height: 651px;
    float: left;
}

.centerview {
    width:651px; height: 651px; float: left;
}

.rightview {
    width: 219px; height: 651px; background-color: black; color: white; float: left
}

.nav li a {
    padding: 7px 5px!important;
}

.button {
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    padding: 3px;
    border:1px solid transparent;
    border-radius:4px;
}

.buttonlink {
    text-align: right;
    margin-bottom: 1px;
}

button {
    color: white;
    position: relative;
    background-color:rgba(0,0,0,0.5);
    border-radius: 35%;
    border: 0;
}

button:active {
    padding-top: 0px;
    padding-bottom: 0;
}

.buttonlink b,.buttonlink div {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

tr.buildingrow td {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.buttonlink.disabled {
    background-color:rgba(1,1,1,0.3);
}

.buttonlink.disabled:hover {
    background-color:rgba(255,0,0,0.5);
}

.buttonlink:hover {
    background-color:rgba(20,75,20,0.5);
    border-radius: 35%;
    border-width: 0;
}

.buttonlink:active {
    background-color:rgba(1,75,1,0.7);
    border-radius: 35%;
    border-width: 0;
}

span.respanel {
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 20;
    text-align: right;
    background-color: black;
}

.carbon {
    color:#6f6f6f;
}

.silicon {
    color:#a576d3;
}

.ore {
    color:#cfcfdf;
}

.bean{
    color:#5ee440;
}

.radiation{
    color:#ff5500;
}

span.respanel span {
    display: inline-block;
}

.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.planet_box {
    width: 210px;
    height: 78px;
    border: 1px solid #99F;
    margin-top: 3px;
    padding: 7px 5px;
    position: relative;
}